.list-group-item.d-flex{'data-id': video_author.id}
  .w-25= num

  .w-25= video_author.name

  .w-25
    - if video_author.videos_count.positive?
      = link_to video_author.videos_count, videos_path("video_author[]": video_author.name)
    - else
      = video_author.videos_count

  .w-25= timeago(video_author.created_at).html_safe

  .w-25= timeago(video_author.updated_at).html_safe

  .w-25
    .d-flex.justify-content-end
      = render 'shared/buttons/edit_button', object: video_author, url: edit_video_author_path(video_author)

      - if video_author.videos_count.zero?
        = render 'shared/buttons/delete_button', object: video_author,  message: { type: t('video_author.video_author'), name: video_author.name, url: video_author_path(video_author) }
      - else
        = render 'shared/buttons/delete_disable_button'

      / drag-drop handler
      - if policy(VideoAuthor).sort?
        %span.ms-1{ data: { 'bs-toggle': 'tooltip', 'bs-placement': 'top' }, title: t('shared.drag_to_sort') }
          %button.btn.btn-circle.btn-outline-secondary.handle{type: 'button'}
            %i.fa-solid.fa-grip-vertical
