.container-fluid.px-4{'data-controller': 'drag-drop'}
  = render "page_heading"
  = render "shared/no_data", items: @video_authors

  - if @video_authors.present?
    = render "shared/display_total", total_count: @video_authors.size

    .w-100.list-group
      .list-group-item.d-flex.border-0
        %strong.w-25= "#"
        %strong.w-25= t('shared.name')
        %strong.w-25= t('video.number_of_video')
        %strong.w-25= t('shared.created_at')
        %strong.w-25= t('shared.updated_at')
        %strong.w-25

    .border-bottom
    = form_tag "", url: sort_video_authors_path, class: 'drag-drop-form' do |f|
      .w-100.list-group#tag-group.mb-3
        - @video_authors.each_with_index do |video_author, index|
          = render "video_author", video_author: video_author, num: index + 1

= render "shared/modals/confirm_delete_modal"
