%tr
  %td= num
  %td= service.name
  %td= timeago(service.created_at).html_safe
  %td= timeago(service.updated_at).html_safe
  %td
    .d-flex.justify-content-end
      = render 'shared/buttons/edit_button', object: service, url: edit_service_path(service)

      = render 'shared/buttons/delete_button', object: service,  message: { type: t('service.service'), name: service.name, url: service_path(service) }
