= content_for :header_title_right_col do
  = render "shared/buttons/back_button", url: app_users_path

.container-fluid.px-4
  = render 'shared/header_title', title: "App User: #{@app_user.id[0..7]}...: Quizzes"
  = render "shared/no_data", items: @quizzes

  - if @quizzes.present?
    = render "shared/pagination_title", objects: @quizzes

    .table-responsive
      %table.table.table-hover.pretty
        %thead
          %tr
            %th #
            %th= t('quiz.topic')
            %th= t('quiz.quiz_date')
            %th= t('quiz.answer')
        %tbody
          - @quizzes.each_with_index do |quiz, index|
            %tr
              %td= @pagy.from + 1
              %td= quiz.topic.name
              %td= timeago(quiz.quizzed_at, 'datetime').html_safe
              %td
                = link_to quiz.answers.length, app_user_quiz_path(@app_user, quiz), class: 'btn btn-link', remote: true if quiz.answers.length.positive?

= render 'modal_answer'
