.container-fluid.px-4
  = content_for :header_title_right_col do
    = render "shared/buttons/back_button", url: contacts_path
    = render "shared/buttons/add_new_button", url: new_contact_importer_path, name: t('sidebar.contacts')

  = render 'shared/header_title', title: t('shared.importing_history', name: t('sidebar.contacts'))

  = render "shared/batches/batch_list"
