.w-75.view-center{'data-controller' => 'themes'}
  = simple_form_for @theme, html: {} do |f|
    .mb-3= f.input :name, label: t('theme.name')
    .mb-3= f.input :description, label: t('theme.description')
    .mb-3= f.input :bg_color, label: t('theme.bg_color')
    .mb-3= f.input :text_color, label: t('theme.text_color')
    .mb-3= f.input :button_color, label: t('theme.button_color')
    .mb-3= f.input :nav_bar_color, label: t('theme.nav_bar_color')
    .mb-3
      %label= t('theme.set_active')
      = f.input :active, label: t('theme.open'), input_html: {class: 'form-check-input', 'data-working-days-target': 'open', 'data-action': 'working-days#handleOpenSwitch'}, wrapper_html: { class: 'form-switch ps-0'}
    .mb-3
      %h3 Theme Background Images

      .platform-section
        %h5= t('theme.ios')
        .device-mockup
          - ios_assets = ios_assets(f.object.assets)
          = f.fields_for :assets, ios_assets do |ff|
            = render 'background_image_form', f: ff

      .platform-section
        %h5= t('theme.android')
        .device-mockup
          - android_assets = android_assets(f.object.assets)
          = f.fields_for :assets, android_assets do |ff|
            = render 'background_image_form', f: ff

    .actions
      = link_to t('shared.cancel'), themes_path, class: 'btn btn-secondary me-1'
      = f.submit t('shared.save'), class: 'btn btn-primary'
