.d-flex.mobile-notifications-form.flex-md-row.flex-column-reverse{'data-controller' => 'themes'}
  .flex-1.me-md-4
    = simple_form_for @theme, html: {} do |f|
      .mb-3= f.input :name, label: t('theme.name')
      .mb-3= f.input :description, label: t('theme.description')
      .mb-3
        .d-flex
          = f.label :primary_color, "#{t('theme.primary_color')} <abbr title='required'>*</abbr>".html_safe

          = choose_color_tip
        = f.input :primary_color, label: false
      .mb-3= f.input :secondary_color, label: t('theme.secondary_color')
      .mb-3= f.input :primary_text_color, label: t('theme.primary_text_color')
      .mb-3= f.input :secondary_text_color, label: t('theme.secondary_text_color')
      .mb-3
        %label= t('theme.set_active')
        = f.input :active, label: t('theme.open'), input_html: {class: 'form-check-input', 'data-working-days-target': 'open', 'data-action': 'working-days#handleOpenSwitch'}, wrapper_html: { class: 'form-switch ps-0'}
      .mb-3
        %h3 Theme Background Images

        .platform-section
          %h5= t('theme.android')
          .device-mockup
            - android_assets = android_assets(f.object.assets)
            = f.fields_for :assets, android_assets do |ff|
              = render 'theme_image_form', f: ff

        .platform-section
          %h5= t('theme.ios')
          .device-mockup
            - ios_assets = ios_assets(f.object.assets)
            = f.fields_for :assets, ios_assets do |ff|
              = render 'theme_image_form', f: ff

      .actions
        = link_to t('shared.cancel'), themes_path, class: 'btn btn-secondary me-1'
        = f.submit t('shared.save'), class: 'btn btn-primary'

  / Preview
  %div{style: 'width: 390px'}
    = render 'preview_theme'
