.d-flex.mobile-notifications-form.flex-md-row.flex-column-reverse{'data-controller' => 'themes'}
  .flex-1.me-md-4
    = simple_form_for @theme, html: {} do |f|
      .mb-3
        .d-flex
          = f.label :name, "#{t('theme.name_with_max_length')} <abbr title='required'>*</abbr>".html_safe
          = theme_name_tip
          .flex-grow-1.text-end
            = create_theme_tip
        = f.input :name, label: false, disabled: policy(@theme).disable_edit?, maxlength: 32
      .mb-3
        .d-flex
          = f.label :primary_color, "#{t('theme.primary_color')} <abbr title='required'>*</abbr>".html_safe
          = primary_color_tip
        = f.input :primary_color, label: false, disabled: policy(@theme).disable_edit?
      .mb-3
        .d-flex
          = f.label :secondary_color, "#{t('theme.secondary_color')} <abbr title='required'>*</abbr>".html_safe
          = secondary_color_tip
        = f.input :secondary_color, label: false, disabled: policy(@theme).disable_edit?

      .mb-3.mt-4
        .d-flex
          %h4= t('theme.theme_bg_images')
          = theme_background_image_tip

        .platform-section
          %h5= t('theme.android')
          .device-mockup
            - android_assets = android_assets(f.object.assets)
            = f.fields_for :assets, android_assets do |ff|
              = render 'theme_image_form', f: ff

        .platform-section
          %h5= t('theme.ios')
          .device-mockup
            - ios_assets = ios_assets(f.object.assets)
            = f.fields_for :assets, ios_assets do |ff|
              = render 'theme_image_form', f: ff

      .actions
        = link_to t('shared.cancel'), themes_path, class: 'btn btn-secondary me-1'
        = f.submit t('shared.save'), class: 'btn btn-primary', disabled: !policy(@theme).enable_bg_image_edit?

  / Preview
  %div{style: 'width: 390px'}
    = render 'preview_theme'
