%div{style: 'position: fixed; right: 20px; top: 80px;'}
  .d-flex
    %ul.nav.nav-tabs.flex-grow-1
      %li.nav-item
        %a.nav-link.platform.active{ role: 'button' }= t("theme.android")

      %li.nav-item
        %a.nav-link.platform{ role: 'button' }= t("theme.ios")

    %div
      = select_tag :resolution, options_for_select(resolutions[:android]), class: 'form-select', id: 'resolution-select', data: {resolutions: resolutions}

  .preview-background.android
    .card-box
      .preview-bg
        #theme-bg
        .d-flex.align-items-center.px-3.top-bar{style: "position: relative; z-index:1;"}
          .me-2
            %i.fas.fa-bars
          .me-2
            = image_tag 'logo.png', width: 18, class: 'rounded'
          %div.primary-text-color= ENV['APP_NAME']
          .flex-grow-1.text-end
            %i.fa-regular.fa-bell

        - menu1 = mobile_menus.first
        .p-3.secondary-text-color
          .card
            .d-flex
              .m-1= image_tag menu1[:image], style: 'width: 80px;'
              .m-2.small= menu1[:title]

          - other_menu = mobile_menus[1..mobile_menus.length]
          - 3.times.each do |i|
            .d-flex.gap-3
              - 2.times.each do |j|
                .card.mt-3.text-center{style: 'width: 135px;'}
                  - menu = other_menu[i * 2 + j]
                  .m-1= image_tag menu[:image], style: 'width: 80px;'
                  .m-2.small= menu[:title]

          .card.mt-2
            .d-flex.justify-content-between.p-2
              - mobile_tab_menus.each_with_index do |menu, index|
                .d-flex.flex-column.text-center.small{class: (index.zero? ? 'secondary-color' : 'primary-color')}
                  %i{class: menu[:icon_class]}
                  %span.small= menu[:title]
