.container-fluid.px-4.themes
  = render 'page_heading'

  %form.mb-2{ action: themes_path, method: 'get' }
    .d-flex
      .mb-2= render "shared/filters/filter_name"

  = render "shared/no_data", items: @themes

  - if @themes.present?
    = render "shared/pagination_title", objects: @themes

    .table-responsive
      %table.table.table-hover.pretty
        %thead
          %tr
            %th #
            %th= t('theme.name')
            %th= t('theme.status')
            %th= t('theme.category')
            %th= t('theme.num_of_bg_image')
            %th
        %tbody
          - @themes.each_with_index do |theme, index|
            %tr
              %td= @pagy.from + index
              %td= link_to theme.name, edit_theme_path(theme), class: 'btn btn-link'
              %td
                %span= theme.status
              %td= theme.default ? t('theme.built_in') : ''
              %td= theme.assets.length
              %td
                .d-flex.justify-content-end
                  - if policy(theme).publish?
                    %span.me-1{ data: { 'bs-toggle': 'tooltip', 'bs-placement': 'top' }, title: t('shared.publish') }
                      %button.btn.btn-circle.btn-sm.btn-outline-success{ "data-bs-target" => "#confirmModalPublish", "data-bs-toggle" => "modal", "data-bs-message" => { type: t('theme.theme'), name: theme.name, url: publish_theme_path(theme)}, :type => "button" }
                        %i.fa-solid.fa-file-export

                  = render "edit_button", theme: theme

                  - if policy(theme).destroy?
                    = render 'shared/buttons/delete_button', object: theme,  message: { type: t('theme.theme'), name: theme.name, url: theme_path(theme) }
                  - elsif policy(theme).archive?
                    %span{ data: { 'bs-toggle': 'tooltip', 'bs-placement': 'top' }, title: t('shared.archive') }
                      %button.btn.btn-circle.btn-sm.btn-outline-danger{ "data-bs-target" => "#confirmModalArchive", "data-bs-toggle" => "modal", "data-bs-message" => { type: t('theme.theme'), name: theme.name, url: archive_theme_path(theme) }, :type => "button" }
                        %i.fas.fa-box-archive
                  - else
                    %span{ data: { 'bs-toggle': 'tooltip', 'bs-placement': 'top' }, title: t('theme.cannot_archive') }
                      %button.btn.btn-circle.btn-sm.btn-outline-danger{ type: 'button', disabled: true }
                        %i.fas.fa-box-archive

= render "shared/modals/confirm_delete_modal"
= render "confirm_archive_modal"
= render "confirm_publish_modal"
