.container-fluid.px-4.themes
  .theme-detail
    .d-flex.align-items-center
      = link_to themes_path, class: "btn" do
        %i.fas.fa-angle-left

      %h3= @theme.name
    %p= @theme.description

    .theme-images.mt-3
      %p Background Images

      / iOS Images
      .platform-section
        %h5 iOS
        .device-mockup.iphone
          - ios_assets(@theme.assets).each do |asset|
            %div
              .image-preview
                %h6= asset_image_title(asset)
                = image_tag asset.image_or_default, class: "preview-image #{asset.css_class}"

      / Android Images
      .platform-section
        %h3 Android
        .device-mockup.android
          - android_assets(@theme.assets).each do |asset|
            %div
              .image-preview
                %h6= asset_image_title(asset)
                = image_tag asset.image_or_default, class: "preview-image #{asset.css_class}"
