%form.form-search.accordion{ action: visits_path, method: 'get' }
  .d-flex
    .mb-2
      = render 'shared/filters/filter_date', placeholder: t('visit.search_by_visit_date')

    .ms-3.flex-grow-1
      = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_visit"

    - if current_user.primary_admin?
      = render "switch_view_buttons"

  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2
      .me-1= render 'filter_page'

      = render 'shared/filters/filter_platform'

      .ms-3
        %button.btn.btn-primary.ml-md-2{type: :submit}
          %i.fas.fa-search
          %span.d-none.d-lg-inline= t('shared.search')
