= content_for :header_title_right_col do
  = render "shared/buttons/download_button", url: visits_path(filter_params.merge(format: :xlsx))

.container-fluid.px-4{'data-controller' => 'visits'}
  = render 'shared/header_title', title: t('visit.visits')
  = render "filters"
  = render "shared/no_data", items: @visits

  - if @visits.present?
    .mt-2= render "shared/pagination_title", objects: @visits

    .table-responsive
      %table.table.table-hover.pretty
        %thead
          %tr
            %th #
            %th= t('visit.device_id')
            %th= t('visit.page')
            %th= t('visit.pageable')
            %th= t('visit.platform')
            %th= t('visit.visit_date')
            %th= t('shared.created_at')

        %tbody
          - @visits.each_with_index do |visit, index|
            %tr
              %td= @pagy.from + index
              %td= visit.app_user.try(:display_device_id)
              %td= visit.page_name
              %td= visit.page_detail
              %td.text-capitalize= visit.platform
              %td= timeago(visit.visit_date).html_safe
              %td= timeago(visit.created_at).html_safe

    = render "shared/footers/pagination"
