.w-50.view-center{'data-controller': 'videos'}
  = simple_form_for @video do |f|
    .mb-3= f.input :name, label: t('video.title')
    .mb-3= f.input :description, label: t('video.description')
    .mb-3= f.input :url, label: t('video.url')
    .mb-3
      = f.fields_for :video_category, (@video.video_category || @video.build_video_category ) do |builder|
        .w-100{ 'data-categories' => VideoCategory.pluck(:name) }
          %label= t('video.category')
          %div= builder.input :name, label: false, input_html: { class: 'typeahead' }

    .actions
      = link_to t('shared.cancel'), videos_path, class: 'btn btn-secondary me-1'
      = f.submit t('shared.save'), class: 'btn btn-primary'
