.w-50.view-center{'data-controller': 'videos'}
  = simple_form_for @video, html: {'data-action': 'videos#submitForm'} do |f|
    .mb-3= f.input :name, label: t('video.title')
    .mb-3= f.input :url, label: t('video.url')

    .mb-3
      = f.fields_for :video_author, (@video.video_author || @video.build_video_author ) do |builder|
        .w-100{ 'data-authors' => VideoAuthor.pluck(:name) }
          %label= t('video.author')
          %div= builder.input :name, label: false, input_html: { class: 'typeahead-author' }

    / Tags
    .mb-3= f.input :tag_list, label: t('shared.tags'), input_html: { 'data-videos-target': 'tagList', 'data-tags': Facility.tag_counts.sort_by(&:count).reverse.pluck(:name).to_json }

    .actions
      = link_to t('shared.cancel'), videos_path, class: 'btn btn-secondary me-1'
      = f.submit t('shared.save'), class: 'btn btn-primary'
