%nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-light
  .sb-sidenav-menu
    .nav
      - if policy(:grafana).show?
        .sb-sidenav-menu-heading Core
        %a.nav-link{href: ENV['GF_DASHBOARD_URL'], target: '_blank'}
          .sb-nav-link-icon
            %i.fas.fa-fw.fa-tachometer-alt
          %span= t("sidebar.dashboard")

      .sb-sidenav-menu-heading Interface

      = link_to users_path, class: ['nav-link', css_active_class('users')] do
        .sb-nav-link-icon
          %i.fa-solid.fa-users
        = t('sidebar.users')

      - if current_user.primary_admin?
        = link_to oauth_applications_url, class: ['nav-link'] do
          .sb-nav-link-icon
            %i.fa-solid.fa-grip
          = t('sidebar.oauth_applicatons')

      - if policy(ApiKey).index?
        = link_to api_keys_path, class: ['nav-link', css_active_class('api_keys')] do
          .sb-nav-link-icon
            %i.fa-solid.fa-key
          = t('sidebar.api_keys')

      - if policy(Facility).index?
        = link_to facilities_path, class: ['nav-link', css_active_class('facilities')] do
          .sb-nav-link-icon
            %i.fa-solid.fa-house-medical
          = t('sidebar.facilities')

      - if policy(Visit).index?
        = link_to visits_path, class: ['nav-link', css_active_class('visits')] do
          .sb-nav-link-icon
            %i.fa-solid.fa-eye
          = t('sidebar.visits')

      - if policy(AppUser).index?
        = link_to app_users_path, class: ['nav-link', css_active_class('app_users')] do
          .sb-nav-link-icon
            %i.fa-solid.fa-mobile-retro
          = t('sidebar.app_users')

      - if policy(Video).index?
        = link_to videos_path, class: ['nav-link', css_active_class('videos')] do
          .sb-nav-link-icon
            %i.fa-brands.fa-youtube
          = t('sidebar.videos')

      - if policy(MobileNotification).index?
        = link_to mobile_notifications_path, class: ['nav-link', css_active_class('mobile_notifications')] do
          .sb-nav-link-icon
            %i.fa-solid.fa-mobile-retro
          = t('sidebar.mobile_notifications')

      = link_to about_path, class: ['nav-link', css_active_class('about')] do
        .sb-nav-link-icon
          %i.fa-solid.fa-circle-exclamation
        = t('sidebar.about')

  .sb-sidenav-footer
    .small= "Version: #{ENV['APP_VERSION'] || 'development'}"
