%nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-light
  .sb-sidenav-menu
    .nav
      - if ENV['GF_DASHBOARD_URL'].present?
        .sb-sidenav-menu-heading Core
        %a.nav-link{href: ENV['GF_DASHBOARD_URL'], target: '_blank'}
          .sb-nav-link-icon
            %i.fas.fa-fw.fa-tachometer-alt
          %span= t("sidebar.dashboard")

      .sb-sidenav-menu-heading Interface

      = link_to users_path, class: ['nav-link', css_active_class('users')] do
        .sb-nav-link-icon
          %i.fa-solid.fa-users
        = t('sidebar.users')

      - if current_user.primary_admin?
        = link_to oauth_applications_url, class: ['nav-link'] do
          .sb-nav-link-icon
            %i.fa-solid.fa-grip
          = t('sidebar.oauth_applicatons')

      / %a.nav-link.collapsed{"aria-controls" => "collapseLayouts", "aria-expanded" => "false", "data-bs-target" => "#collapseLayouts", "data-bs-toggle" => "collapse", :href => "#"}
      /   .sb-nav-link-icon
      /     %i.fas.fa-columns
      /   Layouts
      /   .sb-sidenav-collapse-arrow
      /     %i.fas.fa-angle-down
      / #collapseLayouts.collapse{"aria-labelledby" => "headingOne", "data-bs-parent" => "#sidenavAccordion"}
      /   %nav.sb-sidenav-menu-nested.nav
      /     %a.nav-link{:href => "layout-static.html"} Static Navigation
      /     %a.nav-link{:href => "layout-sidenav-light.html"} Light Sidenav

  .sb-sidenav-footer
    .small= "Version: #{ENV['APP_VERSION'] || 'development'}"
