%form.mb-2{ action: facilities_path, method: 'get' }
  .d-flex
    .mb-2= render "shared/filters/filter_name"

    .ms-3.flex-grow-1
      = render "shared/buttons/advance_search_button"

    %div
      = render "switch_view_buttons"

  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2
      / Filtery by batch
      - list = FacilityBatch.all.map{ |batch| ["#{batch.code}(#{display_datetime(batch.created_at)})", batch.code]}

      = select_tag :batch_code, options_for_select(list, params[:batch_code]), class: 'form-select filter-input', prompt: t("facility.search_by_batch")

      / Filter by tag
      .ms-1.filter-input.tooltips{ 'data-bs-toggle' => 'tooltip' }
        - options = Facility.tag_counts.sort_by(&:count).reverse.pluck(:name)
        = select_tag 'tag[]', options_for_select(options, params[:tag]), multiple: true, "data-live-search" => "true", "data-count-selected-text" => "{0} #{t('facility.tages_selected')}", "data-selected-text-format" => "count > 1", "data-none-selected-text" => t('facility.any_tag'), class: 'selectpicker form-control'

      .ms-3
        %button.btn.btn-primary.ml-md-2{type: :submit}
          %i.fas.fa-search
          %span.d-none.d-lg-inline= t('shared.search')
