.w-75.view-center{'data-controller': 'facilities'}
  = simple_form_for @facility, html: {'data-action': 'facilities#submitForm'} do |f|
    / Logo
    .image-wrapper.position-relative
      = image_tag @facility.logo_or_default, class: 'preview-logo', 'data-default' => image_path('default_logo.png')
      = f.input :logo, as: :file, label: false, wrapper_html: { class: 'file_wrapper' }, input_html: { class: 'file_avata pointer logo-input' }

      .remove-logo-wrapper
        = f.input :remove_logo, as: :boolean

      .btn-delete.pointer{class: ('d-none' unless @facility.logo_url.present?) }
        %i.fas.fa-trash-alt.text-white

    .text-center.mt-2
      %small 250 x 250 (32-bit PNG)

    / Name
    .mb-3= f.input :name, label: t('facility.name')

    / Tags
    .mb-3= f.input :tag_list, label: t('facility.tags'), input_html: { 'data-facilities-target': 'tagList', 'data-tags': Facility.tag_counts.sort_by(&:count).reverse.pluck(:name).to_json }

    / Address
    #province.form-group.mb-3
      = f.label(:province_id) do
        = t('shared.province')
      = f.hidden_field(:province_id)
      = f.select(:province_id, [], {:include_blank => t("shared.please_select")}, {:data => {:pumi_select_target => "district", :pumi_select_collection_url => pumi.provinces_path, :pumi_select_collection_label_method => "name_#{I18n.locale}", :pumi_select_collection_value_method => "id", :pumi_select_populate_on_load => true, :pumi_select_has_hidden_value => true}, class: 'form-control form-select'})

    #district.form-group.mb-3
      = f.label(:district_id) do
        = t('shared.district')
      = f.hidden_field(:district_id)
      = f.select(:district_id, [], {:include_blank => t("shared.please_select")}, {:data => {:pumi_select_id => "district", :pumi_select_target => "commune", :pumi_select_collection_url => pumi.districts_path(:province_id => "FILTER"), :pumi_select_collection_url_filter_interpolation_key => "FILTER", :pumi_select_collection_label_method => "name_#{I18n.locale}", :pumi_select_collection_value_method => "id", :pumi_select_disabled_target => "#district", :pumi_select_disabled_class => "my-disabled-class", :pumi_select_has_hidden_value => true}, class: 'form-control form-select'})

    #commune.form-group.mb-3
      = f.label(:commune_id) do
        = t('shared.commune')
      = f.hidden_field(:commune_id)
      = f.select(:commune_id, [], {:include_blank => t("shared.please_select")}, {:data => {:pumi_select_id => "commune", :pumi_select_collection_url => pumi.communes_path(:district_id => "FILTER"), :pumi_select_collection_url_filter_interpolation_key => "FILTER", :pumi_select_collection_label_method => "name_#{I18n.locale}", :pumi_select_collection_value_method => "id", :pumi_select_disabled_target => "#commune", :pumi_select_disabled_class => "my-disabled-class", :pumi_select_has_hidden_value => true}, class: 'form-control form-select'})

    .mb-3= f.input :street, label: t('shared.street')
    .mb-3= f.input :house_number, label: t('shared.house_number')

    .mb-3= f.input :latitude, label: t('facility.latitude')
    .mb-3= f.input :longitude, label: t('facility.longitude')

    / Contacts
    .mb-3= f.input :tels, label: t('facility.tels'), input_html: {'data-facilities-target': 'tel', value: f.object.tels.join(', ')}
    .mb-3= f.input :emails, label: t('facility.emails'), input_html: {'data-facilities-target': 'email', value: f.object.emails.join(', ')}

    .mb-3= f.input :websites, label: t('facility.websites'), input_html: {'data-facilities-target': 'website', value: f.object.websites.join(', ')}

    .mb-3= f.input :facebook_pages, label: t('facility.facebook_pages'), input_html: { 'data-facilities-target': 'fbpage', value: f.object.facebook_pages.join(', ') }

    .mb-3= f.input :telegram_username, label: t('facility.telegram_username')

    / Description
    .mb-3= f.input :description, label: t('facility.description')

    / Services
    .mb-3{ 'data-controller': 'services' }
      %label= t('facility.services')

      .d-flex.flex-wrap.service-wrappers
        = f.fields_for :services, @facility.services do |builder|
          = render "service_fields", f: builder

        .btnAddField
          = link_to_add_fields t('facility.add_service'), f, :services, 'services-target': 'btnAddService', 'action': 'services#appendField'

    / Business hours
    .mb-3.form-control
      .mb-3
        %strong= t('facility.business_hours')

      - WorkingDay.days.keys.each do |day|
        - working_day = f.object.working_days.select { |d| d.day == day }.first || f.object.working_days.new(day: day)

        = f.fields_for :working_days, working_day do |builder|
          = render 'working_day_fields', f: builder

    .actions
      = link_to t('shared.cancel'), facilities_path, class: 'btn btn-secondary me-1'
      = f.submit t('shared.save'), class: 'btn btn-primary'
