= content_for :header_title_right_col do
  = render "new_buttons"

.container-fluid.px-4.facilities
  = render 'shared/header_title', title: t('facility.facilities')
  = render "filters"
  = render "shared/no_data", items: @facilities

  - if @facilities.present?
    = render "shared/pagination_title", objects: @facilities

    .table-responsive
      %table.table.table-hover.pretty
        %thead
          %tr
            %th #
            %th= t('facility.name')
            %th= t('facility.address')
            %th= t('facility.lat_lng')
            %th= t('facility.tels')
            %th= t('facility.emails')
            %th= t('facility.websites')
            %th= t('facility.facebook_pages')
            %th= t('facility.telegram_username')
            %th= t('facility.description')
            %th= t('shared.created_at')
            %th= t('shared.updated_at')
            %th

        %tbody
          - @facilities.each_with_index do |facility, index|
            %tr
              %td= @pagy.from + index
              %td= facility.name
              %td= facility.address
              %td= "#{facility.latitude}, #{facility.longitude}"
              %td= facility.tels.join(', ')
              %td= facility.emails.join(', ')
              %td= facility.websites.join(', ')
              %td= facility.facebook_pages.join(', ')
              %td= facility.telegram_username
              %td= facility.description
              %td= timeago(facility.created_at).html_safe
              %td= timeago(facility.updated_at).html_safe
              %td
                .d-flex.justify-content-end
                  = render 'shared/buttons/edit_button', object: facility, url: edit_facility_path(facility)

                  = render 'shared/buttons/delete_button', object: facility,  message: { type: t('facility.facility'), name: facility.name, url: facility_path(facility) }

    - if @pagy.pages > 1
      .pagy-wrapper.justify-content-lg-end.justify-content-center
        != pagy_bootstrap_nav(@pagy)

= render "shared/modals/confirm_delete_modal"
