.container-fluid.px-4.facilities
  = render "page_heading"
  = render "filters"
  = render "shared/no_data", items: @facilities

  - if @facilities.present?
    = render "shared/pagination_title", objects: @facilities

    .table-responsive
      %table.table.table-hover.pretty
        %thead
          %tr
            %th #
            %th= t('facility.name')
            %th= t('facility.logo')
            %th= t('facility.tags')
            %th= t('facility.address')
            %th= t('facility.lat_lng')
            %th= t('facility.tels')
            %th= t('facility.emails')
            %th= t('facility.websites')
            %th= t('facility.facebook_pages')
            %th= t('facility.telegram_username')
            %th= t('facility.services')
            %th= t('facility.description')
            %th= t('facility.business_hours')
            %th= t('shared.created_at')
            %th= t('shared.updated_at')
            %th

        %tbody
          - @facilities.each_with_index do |facility, index|
            %tr
              %td= @pagy.from + index
              %td= facility.name
              %td
                = image_tag facility.logo_url, style: 'width: 50px;' if facility.logo_url.present?
              %td= raw facility.tags.map(&:name).map { |t| link_to t, facilities_path("tag[]": t) }.join(', ')
              %td= facility.addresses
              %td= "#{facility.latitude}, #{facility.longitude}"
              %td= facility.tels.join(', ')
              %td= facility.emails.join(', ')
              %td= facility.websites.join(', ')
              %td= facility.facebook_pages.join(', ')
              %td= facility.telegram_username
              %td= facility.services.map(&:name).join(', ')
              %td
                .text-truncate{ style: 'width: 200px;' }
                  = facility.description

              %td{style: 'min-width: 150px;'}
                - WorkingDay.days.keys.each do |day|
                  - wd = facility.working_days.select { |d| d.day == day }.first
                  .d-flex
                    %span
                      = I18n.t("date.abbr_day_names")[WorkingDay.days[day]].to_s + ": "

                    %span.ms-1
                      - if wd.nil? || !wd.open
                        %span= t('facility.close')

                      - else
                        - wd.working_hours.each do |wh|
                          %span
                            = t('facility.open')
                            = wh.open_24h? ? "#{wh.open_at}h" : "#{wh.open_at} - #{wh.close_at}"


              %td= timeago(facility.created_at).html_safe
              %td= timeago(facility.updated_at).html_safe
              %td
                .d-flex.justify-content-end
                  = render 'shared/buttons/edit_button', object: facility, url: edit_facility_path(facility)

                  = render 'shared/buttons/delete_button', object: facility,  message: { type: t('facility.facility'), name: facility.name, url: facility_path(facility) }

    = render "shared/footers/pagination"

= render "shared/modals/confirm_delete_modal"
