= content_for :header_title_right_col do
  = render "shared/buttons/download_button", label: t('facility.download_json'), url: facilities_path(filter_params.merge(format: :json))
  .ms-1= render "new_buttons"

.container-fluid.px-4.facilities
  = render 'shared/header_title', title: t('facility.facilities')
  = render "filters"
  = render "shared/no_data", items: @facilities

  - if @facilities.present?
    = render "shared/pagination_title", objects: @facilities

    .table-responsive
      %table.table.table-hover.pretty
        %thead
          %tr
            %th #
            %th= t('facility.name')
            %th= t('facility.tags')
            %th= t('facility.address')
            %th= t('facility.lat_lng')
            %th= t('facility.tels')
            %th= t('facility.emails')
            %th= t('facility.websites')
            %th= t('facility.facebook_pages')
            %th= t('facility.telegram_username')
            %th= t('facility.services')
            %th= t('facility.description')
            %th= t('shared.created_at')
            %th= t('shared.updated_at')
            %th

        %tbody
          - @facilities.each_with_index do |facility, index|
            %tr
              %td= @pagy.from + index
              %td= facility.name
              %td= raw facility.tags.map(&:name).map { |t| link_to t, facilities_path("tag[]": t) }.join(', ')
              %td= facility.addresses
              %td= "#{facility.latitude}, #{facility.longitude}"
              %td= facility.tels.join(', ')
              %td= facility.emails.join(', ')
              %td= facility.websites.join(', ')
              %td= facility.facebook_pages.join(', ')
              %td= facility.telegram_username
              %td= facility.services.map(&:name).join(', ')
              %td
                .text-truncate{ style: 'width: 200px;' }
                  = facility.description

              %td= timeago(facility.created_at).html_safe
              %td= timeago(facility.updated_at).html_safe
              %td
                .d-flex.justify-content-end
                  = render 'shared/buttons/edit_button', object: facility, url: edit_facility_path(facility)

                  = render 'shared/buttons/delete_button', object: facility,  message: { type: t('facility.facility'), name: facility.name, url: facility_path(facility) }

    = render "shared/footers/pagination"

= render "shared/modals/confirm_delete_modal"
