= content_for :header_title_right_col do
  - if policy(Page).create?
    = render "shared/buttons/add_new_button", url: new_page_path, name: t("page.page")

.container-fluid.px-4
  = render 'shared/header_title', title: t('page.pages')
  = render "filters"
  = render "shared/no_data", items: @pages

  - if @pages.present?
    = render "shared/pagination_title", objects: @pages

    .table-responsive
      %table.table.table-hover.pretty
        %thead
          %tr
            %th #
            %th= t('page.code')
            %th= t('page.name')
            %th= t('page.display_name')
            %th= t('shared.name_en')
            %th= t('shared.name_km')
            %th= t('page.number_of_visit')
            %th= t('shared.created_at')
            %th= t('shared.updated_at')
            %th

        %tbody
          - @pages.roots.each_with_index do |page, index|
            = render "page", page: page, num: @pagy.from + index

    - if @pagy.pages > 1
      .d-flex.pagy-wrapper.justify-content-lg-end.justify-content-center
        != pagy_bootstrap_nav(@pagy)

= render "shared/modals/confirm_delete_modal"
