= content_for :header_title_right_col do
  .ms-1
    = render "shared/buttons/download_button", url: contacts_path(filter_params.merge(format: :xlsx))

  .ms-1
    .d-flex.justify-content-end
      = render "shared/buttons/add_new_button", url: new_contact_path, name: t("sidebar.contacts")

      %button.btn.btn-sm.ms-1{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
        %i.fa-solid.fa-ellipsis-vertical

      %ul.dropdown-menu.dropdown-menu-end
        %li
          %a.dropdown-item{ href: new_contact_importer_path }
            %i.fa-solid.fa-file-import
            %span បញ្ចូលគ្លីនិកតាម Exel
        %li
          %a.dropdown-item{ href: contact_importers_path }
            %i.fa-solid.fa-clock-rotate-left
            %span ប្រវត្តិនៃការបញ្ចូលទិន្នន័យ

        - if current_user.primary_admin?
          %li
            %a.dropdown-item{ href: contacts_path(filter_params.merge(format: :json)), target: '_blank' }
              %i.fa-solid.fa-download
              %span= t('shared.download_json')

= render 'shared/header_title', title: t('sidebar.contacts')
