/ Modal
#reasonModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "reasonModalLabel", :tabindex => "-1", 'data-controller' => 'app-user-deletion'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#reasonModalLabel.modal-title
          %i.fas.fa-exclamation-triangle.text-danger
          = t('app_user.delete_info_request')
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}

      .modal-body
        %span= t('app_user.delete_reason')

        .mt-2
          - Reason.all.each do |reason|
            .form-group.py-3.border-bottom
              %input.form-check-input{ name: "app_user[reason_code]", type: "radio", id: reason.id, value: reason.code }
              %label.form-check-label.ms-1{for: reason.id}
                = reason.name

      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss": "modal", type: "button"}= t('shared.cancel')

        = f.submit t("app_user.send_delete_request"), class: 'btn btn-danger disabled btn-submit'
