/ Modal
#hintModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "hintModalLabel", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#hintModalLabel.modal-title= t('app_user.how_to_get_user_id')
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}

      .modal-body
        %ul
          %li= t('app_user.go_to_app')
          %li
            = t('app_user.click_on_menu')
            = image_tag "click_on_menu.jpg", height: 24

          %li
            = t('app_user.click_on_user_profile')
            = image_tag "click_on_profile.jpg", height: 24

          %li= t('app_user.copy_user_uuid')

        .w-75.m-auto.mt-3
          = image_tag "app_user_profile.png", style: 'width: 100%'

      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"}= t('shared.close')
