.form-wrapper#login_form
  %h2.font-weight-normal.text-center.my-4
    ចូលប្រើ / Sign in

  = button_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn btn-outline-primary w-100', data: { turbo: "false" } do
    = image_tag 'google.png', style: 'width: 18px;'
    = t('devise.sign_in_with', omniauth: 'Gmail')

  - if User.facebook_login_enabled?
    = button_to user_facebook_omniauth_authorize_path, method: :post, class: 'btn btn-outline-primary w-100 mt-2', data: { turbo: "false" } do
      %i.fa-brands.fa-facebook{style: 'font-size: 18px;'}
      = t('devise.sign_in_with', omniauth: 'Facebook')

  .d-flex.flex-row.align-items-center
    .line.flex-grow-1
    .or-label OR
    .line.flex-grow-1

  %div{'data-controller': 'sessions'}
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :post, 'data-turbo': false, id: 'session-form' }) do |f|
      .mb-3
        = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class: 'input-email' }

      .mb-3.form-actions
        = f.button :submit, t('devise.sessions.send_otp_for_sign_in'), class: 'btn btn-primary w-100 mb-2 btn-submit'

  .text-end.mb-3
    .form-group
      = render "devise/shared/links"

    .form-group
      %small.fs-xs
        = t("shared.version") + ': '
        = ENV['APP_VERSION'] || 'dev'

  %div
    = link_to t('shared.privacy'), '/privacy-policy', class: 'btn btn-link'
    = link_to t('shared.terms_and_conditions'), '/terms-and-conditions', class: 'btn btn-link'
    - if ENV['SUPPORT_EMAIL'].present?
      = link_to "Support", "mailto: #{ENV['SUPPORT_EMAIL']}", class: 'btn btn-link'
    = link_to t('shared.about'), about_path, class: 'btn btn-link'

  .text-center
    %small.text-muted
      = t('shared.copyright', name: ENV['APP_NAME'])
