#content.pb-2
  .w-75.view-center
    - unless signed_in?
      = link_to 'Back', root_path, class: 'btn btn-link'

    %nav.text-center.mb-4{ class: ('mt-3' if signed_in?) }
      .container-fluid
        %h3 កម្មវិធីសុខភាពយុវជន
        %h4 (Youth Health Application)

    %p កម្មវិធីអ៊ែប “សុខភាពយុវជន” បានផ្តួចផ្តើមកសាងឡើងដោយ ក្រុមប្រឹក្សាជាតិអភិវឌ្ឍន៍យុវជនកម្ពុជា និងក្រសួងអប់រំ យុវជន និង កីឡា  ដែលគម្រោងនេះអនុវត្តដោយបណ្តាញទូរស័ព្ទជំនួយកុមារកម្ពុជា (CHC) និង អ៊ែបវិស្វករ Kawsang Co., Ltd ដែលជាផលិតផលក្រោមកម្មវិធីដែលគាំទ្រដោយ មូលនិធីសហប្រជាជាតិសម្រាប់ប្រជាជន (UNFPA) និងរាជរដ្ឋាភិបាលជប៉ុន (Japan Government)។ កម្មវិធីអ៊ែបនេះ គឺជាប្រភពព័ត៌មានជាសាធារណៈមួយ ដែលបង្កើតឡើងសម្រាប់ប្រើប្រាស់ដោយមិនមានការគិតថ្លៃ និង មានបំណងឱ្យប្រើប្រាស់ស្របតាមគោលបំណងរបស់អ៊ែប។

    %h5.text-center.my-3
      %strong ផ្ដួចផ្ដើមកសាងឡើងដោយ / Initiated by

    .d-flex.justify-content-center.mb-5
      %div.mx-2= image_tag('nydc.png', class: 'small-logo')
      %div= image_tag('moeys.png', class: 'small-logo')

    %h5.text-center.my-3
      %strong គាំទ្រថវិកាដោយ / Funded by

    .d-flex.justify-content-center.mb-5
      %div.mx-2= image_tag('unfpa.png', class: 'small-logo')
      %div= image_tag('people_japan.png', class: 'small-logo')

    %h5.text-center.my-3
      %strong សហការណ៍ផលិតដោយ / Implemented By

    .d-flex.justify-content-center.mb-5
      %div.mx-2= image_tag('kawsang_logo.png', class: 'small-logo')
      %div= image_tag('chc.png', class: 'small-logo')
