= content_for :header_title_right_col do
  .ms-1
    = render "shared/buttons/download_button", url: contact_directories_path(filter_params.merge(format: :json)), label: t('shared.download_json')

= render 'shared/header_title', title: "#{t('contact.contacts')}: #{t('contact.directory')}"

%form.mb-2{ action: contact_directories_path }
  .d-flex.align-items-center
    .d-flex.flex-grow-1
      = render "shared/filters/filter_name", placeholder: t('shared.search_by_name')

    %div
      = render "contacts/switch_view_buttons"
