%form.form-search.accordion{ action: mobile_notifications_path, method: 'get' }
  .d-flex
    .mb-2
      = render 'shared/filters/filter_name', field_name: 'title', placeholder: t('mobile_notification.search_by_title')

    %div.ms-3.flex-grow-1
      = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_notification"

    %div= render "switch_view_buttons"

  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2
      .me-1= render 'shared/filters/filter_date', placeholder: t('mobile_notification.search_by_schedule_date')

      .ms-3
        = render "shared/buttons/search_button"
