%form.form-search.accordion{ action: mobile_notifications_path, method: 'get' }
  .d-flex
    .mb-2
      = render 'shared/filters/filter_name', field_name: 'title', placeholder: t('mobile_notification.search_by_title')

    %div.ms-3.flex-grow-1
      = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_notification"

    %div= render "switch_view_buttons"

  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2
      .me-1= render 'shared/filters/filter_date', placeholder: t('mobile_notification.search_by_schedule_date')

      / filter by survey form
      .filter-input.ml-2
        = select_tag 'topic_id', options_for_select(Topics::SurveyForm.notification_counts.map {|f| [f.name, f.id]}, params[:topic_id]), include_blank: t('mobile_notification.any_survey_form'), class: 'form-control form-select'

      .ms-3
        = render "shared/buttons/search_button"
