.d-flex.mobile-notifications-form.flex-md-row.flex-column-reverse{'data-controller': 'mobile-notifiations'}
  .flex-1.me-md-4
    = simple_form_for @mobile_notification do |f|
      / Title
      .mb-3
        %label
          = t('mobile_notification.notification_title')
          = "(#{t('mobile_notification.max_title')})"
          %abbr.text-danger{title: 'required'} *

        = f.input :title, label: false, input_html: { maxlength: 64, 'data-action': 'mobile-notifiations#updateTitle' }

        .text-right.small
          %span.title-count{'data-mobile-notifiations-target': 'titleCount'} 0
          %span /
          %span 64

      / Body
      .mb-3
        %label
          = t('mobile_notification.notification_text')
          = "(#{t('mobile_notification.max_body')})"
          %abbr.text-danger{title: 'required'} *

        = f.input :body, label: false, input_html: { maxlength: 255, 'data-action': 'mobile-notifiations#updateBody' }

        .text-right.small
          %span.body-count{'data-mobile-notifiations-target': 'bodyCount'} 0
          %span /
          %span 255

      / Platform
      .mb-3
        = f.input :platform, collection: MobileToken::PLATFORMS, label: t('shared.platform'), include_blank: true, input_html: {class: 'selectpicker', "data-none-selected-text" => t('visit.any_platform')}

      / Schedule date
      .mb-3
        %label= t('mobile_notification.schedule_date')

        #schedule_date.input-group.date{"data-target-input" => "nearest"}
          %input.form-control{ type: 'text', "data-target" => "#schedule_date", placeholder: t('mobile_notification.send_now') }
          %span.input-group-text{"data-target" => "#schedule_date", "data-toggle" => "datetimepicker"}
            %i.fa-solid.fa-calendar-days

          = f.input :schedule_date, as: :hidden

      / Action
      .actions.text-right
        = link_to t('shared.cancel'), mobile_notifications_url, class: 'btn btn-secondary me-1'
        = f.submit t('mobile_notification.push_notification'), class: 'btn btn-primary', 'data-action': 'mobile-notifiations#submit'

  / Preview
  %div
    .preview-background
      .card-box
        .d-flex.align-items-center
          .me-2
            = image_tag 'logo_color.png', size: '18x18', class: 'rounded'
          .flex-1.small= ENV["APP_NAME"]

        .text-wrapper.mt-2
          .title.text-truncate{'data-mobile-notifiations-target': 'title'}
          .text-body.text-truncate{'data-mobile-notifiations-target': 'body'}
