= content_for :header_title_right_col do
  = render "new_buttons"

.container-fluid.px-4{'data-controller': 'mobile-notification-index'}
  = render 'shared/header_title', title: t('mobile_notification.mobile_notifications')
  = render "filters"
  = render "shared/no_data", items: @mobile_notifications

  - if @mobile_notifications.present?
    .mt-2= render "shared/pagination_title", objects: @mobile_notifications

    .table-responsive
      %table.table.table-hover.pretty
        %thead
          %tr
            %th #
            %th= t('mobile_notification.notification_title')
            %th= t('mobile_notification.notification_text')
            %th= t('form.questionnaire')
            %th= t('mobile_notification.platform')
            %th= t('mobile_notification.app_version')
            %th= t('shared.created_at')
            %th= t('mobile_notification.schedule_date')
            %th= t('shared.description')
            %th= t('shared.status')
            %th

        %tbody
          - @mobile_notifications.each_with_index do |notification, index|
            %tr
              %td= @pagy.from + index
              %td= notification.title
              %td= notification.body
              %td
                = link_to notification.survey_form_name, survey_form_path(notification.survey_form), class: 'text-primary', remote: true if notification.survey_form.present?
              %td= platform_icon(notification.platform).html_safe
              %td= notification.app_versions.present? ? notification.app_versions.join(', ') : t('mobile_notification.all_version')
              %td= timeago(notification.created_at).html_safe
              %td= notification.schedule_date.future? ? l(notification.schedule_date, format: :long) : timeago(notification.schedule_date, 'datetime').html_safe

              %td= description(notification).html_safe
              %td= status_html(notification.status).html_safe
              %td
                .d-flex.justify-content-end
                  - if policy(notification).destroy?
                    = render 'shared/buttons/delete_button', object: notification, message: { type: t('mobile_notification.mobile_notification'), name: notification.title, url: mobile_notification_path(notification) }

    = render "shared/footers/pagination"

= render "shared/modals/confirm_delete_modal"
= render "survey_forms/form_detail_modal"
