.table-responsive
  %table.table.table-hover.pretty
    %thead
      %tr
        %th #
        %th= t('video.name')
        %th= t('video.url')
        %th= t('video.author')
        %th= t('video.category')
        %th= t('video_batch.is_valid')
    %tbody
      - @video_batch.videos.each_with_index do |video, index|
        - if video.valid?
          = f.fields_for :videos, video do |ff|
            = render 'field_for_video', f: ff
        %tr
          %td= index + 1
          %td= video.name
          %td
            - if video.url.present?
              = link_to video.url, target: '_blank' do
                = image_tag video.thumbnail, style: 'width: 50px;'

          %td= video.author
          %td= video.video_category_name
          %td
            - if video.valid?
              %i.fas.fa-check.text-success
            - else
              %span.text-danger.d-flex.align-items-center{'data-bs-toggle' => 'tooltip', 'data-bs-placement': 'left', title: video.errors.full_messages.join(', '), style: 'min-width: 80px;' }
                %i.fas.fa-times.text-danger
                %small.ml-1= t('shared.reason')
