.container-fluid.px-4.facilities
  = render "progress_arrow_header", progress_num: 2

  = simple_form_for @video_batch do |f|
    = f.hidden_field :code, value: @video_batch.code
    = f.hidden_field :total_count
    = f.hidden_field :valid_count
    = f.hidden_field :filename

    .d-flex.align-items-center{style: 'flex-wrap: wrap-reverse;'}
      .flex-grow-1
        %div= t("video_batch.short_description", total_count: @video_batch.total_count, valid_count: @video_batch.valid_count).html_safe

      .d-flex.mb-2
        / Back button
        = render "shared/buttons/back_button", url: new_video_batch_path

        / Yes confirm button
        - tooltip_title = @video_batch.valid_count.positive? ? "" : t("video_batch.at_least_one_scorecard")

        %span{ 'data-bs-toggle' => 'tooltip', title: tooltip_title }
          %button.btn.btn-primary.btn-sm{'data-bs-toggle' => 'modal', 'data-bs-target' => '#confirmModal', type: 'button', class: ('disabled' if @video_batch.valid_count.zero?)}= t('video_batch._yes')


    / Videos list rendering
    = render 'form_videos', f: f
    / Yes Confirm modal
    = render 'modal_import_confirm', f: f
