.table-responsive
  %table.table.table-hover.pretty
    %thead
      %tr
        %th #
        %th= t('facility.name')
        %th= t('facility.tags')
        %th= t('facility.address')
        %th= t('facility.latitude')
        %th= t('facility.longitude')
        %th= t('facility.tels')
        %th= t('facility.emails')
        %th= t('facility.websites')
        %th= t('facility.facebook_pages')
        %th= t('facility.telegram_name')
        %th= t('facility.services')
        %th= t('facility.description')
        %th= t('facility.business_hours')
        %th= t('facility_batch.is_valid')
    %tbody
      - @facility_batch.facilities.each_with_index do |facility, index|
        - if facility.valid?
          = f.fields_for :facilities, facility do |ff|
            = render 'field_for_facility', f: ff
        %tr
          %td= index + 1
          %td= facility.name
          %td= facility.tag_list
          %td= facility.addresses
          %td= facility.latitude
          %td= facility.longitude
          %td= facility.tels.join(', ')
          %td= facility.emails.join(', ')
          %td= facility.websites.join(', ')
          %td= facility.facebook_pages.join(', ')
          %td= facility.telegram_username
          %td= facility.services.collect(&:name).join(', ')
          %td= facility.description
          %td{style: 'min-width: 150px;'}
            - WorkingDay.days.keys.each do |day|
              - wd = facility.working_days.select { |d| d.day == day }.first
              .d-flex
                %span
                  = I18n.t("date.abbr_day_names")[WorkingDay.days[day]] + ": "

                %span.ms-1
                  - if wd.present?
                    - wd.working_hours.each do |wh|
                      %span= "#{t('facility.open')} #{wh.open_at} - #{wh.close_at}"
                  - else
                    %span= t('facility.close')

          %td
            - if facility.valid?
              %i.fas.fa-check.text-success
            - else
              %span.text-danger.d-flex.align-items-center{'data-bs-toggle' => 'tooltip', 'data-bs-placement': 'left', title: facility.errors.full_messages.join(', '), style: 'min-width: 80px;' }
                %i.fas.fa-times.text-danger
                %small.ml-1= t('shared.reason')
