= content_for :header_title_right_col do
  = render "shared/buttons/back_button", url: facilities_path
  = render "shared/buttons/add_new_button", url: new_facility_batch_path, title: t('facility_batch.import_batch')

.container-fluid.px-4
  = render 'shared/header_title', title: t('facility.facilities')
  = render 'filters'
  = render "shared/no_data", items: @facility_batches

  - if @facility_batches.present?
    = render "shared/pagination_title", objects: @facility_batches

    .table-responsive
      %table.table.table-hover.pretty
        %thead
          %tr
            %th #
            %th= t("shared.code")
            %th= t("facility_batch.filename")
            %th= t("shared.description")
            %th= t("facility_batch.imported_by")
            %th= t('facility_batch.imported_at')
        %tbody
          - @facility_batches.each_with_index do |batch, index|
            %tr
              %td= index + 1
              %td= link_to batch.code, facilities_path(batch_code: batch.code), class: 'text-primary'
              %td= batch.filename
              %td
                - tooltip_title = t("facility_batch.display_items", total_count: batch.total_count, valid_count: batch.valid_count, total_invalid: batch.total_count - batch.valid_count, province_count: batch.province_count)

                = t("facility_batch.short_description", total_count: batch.total_count, valid_count: batch.valid_count).html_safe

                %span{'data-bs-toggle' => 'tooltip', title: tooltip_title, 'data-bs-html' => 'true'}
                  %i.fas.fa-info-circle
              %td= batch.user_email
              %td= timeago(batch.created_at, 'datetime').html_safe

  = render "shared/footers/pagination"
