/ - @facility_batch = FacilityBatch.first
/ = render template: "facility_batches/import_confirm"

.container-fluid.px-4{'data-controller': 'facility-batches'}
  = render "progress_arrow_header"

  .w-50.m-auto
    .mt-4= "#{t('facility_batch.todo_step')}:"
    %ol.mb-3
      %li= t('facility_batch.download_sample_form')
      %li= t('facility_batch.attach_excel_file')

    .card.shadow.mb-2
      .card-body
        %span.mr-2 1.

        %a.btn.btn-link.p-0{ href: '/facility_batch_sample.xlsx', target: "_blank", download: true }
          %i.fas.fa-cloud-download-alt.fa-sm
          = t("facility_batch.download_sample_form")

    .arrow-wrapper
      %i.fas.fa-long-arrow-alt-down

    = form_for @facility_batch do |f|
      #importModals
        .file-wrapper
          .card.shadow
            .card-body
              %span.mr-2 2.
              .form-control.file-control-wrapper
                = f.file_field :file, accept: ".xls,.xlsx", 'data-action': 'facility-batches#toggleSaveButton'

          %small= t('facility_batch.excel_file')

        .display-file.d-none
          .card.shadow
            .card-body
              .excel-icon-wrapper.mr-2
                %i.fas.fa-file-excel

              .flex-grow-1
                .filename
                %small.text-muted.filesize

              %div
                %span{data: {toggle: 'tooltip', placement: 'top', title: t('shared.delete')}}
                  = link_to '#', class: "btn btn-circle btn-sm btn-outline-danger btn-remove-file" do
                    %i.fas.fa-trash-alt

        .modal-footer.mt-3
          = link_to t('shared.cancel'), facilities_path, class: 'btn btn-secondary'

          %button.btn.btn-primary{:type => "submit", disabled: true}= t('shared.done')
