.container-fluid.px-4.facilities
  = render "shared/headers/progress_arrow_header", title: t('shared.import_wizard', name: t('mobile_notification.mobile_notification')), progress_num: 2

  = simple_form_for @mobile_notification_batch, url: mobile_notification_importers_path do |f|
    = f.hidden_field :code, value: @mobile_notification_batch.code
    = f.hidden_field :total_count
    = f.hidden_field :valid_count
    = f.hidden_field :filename

    .d-flex.align-items-center{style: 'flex-wrap: wrap-reverse;'}
      .flex-grow-1
        %div= t("shared.short_description", total_count: @mobile_notification_batch.total_count, valid_count: @mobile_notification_batch.valid_count).html_safe

      .d-flex.mb-2
        / Back button
        = render "shared/buttons/back_button", url: new_mobile_notification_importer_path

        / Yes confirm button
        - tooltip_title = @mobile_notification_batch.valid_count.positive? ? "" : t("shared.at_least_one_item", name: t('mobile_notification.mobile_notification'))

        %span{ 'data-bs-toggle' => 'tooltip', title: tooltip_title }
          %button.btn.btn-primary.btn-sm{'data-bs-toggle' => 'modal', 'data-bs-target' => '#confirmModal', type: 'button', class: ('disabled' if @mobile_notification_batch.valid_count.zero?)}= t('shared._yes')


    / Notification list rendering
    = render 'form', f: f

    / Yes Confirm modal
    - confirm_title = t('shared.confirm_title', name: t('mobile_notification.mobile_notification'))
    - confirm_body = t('mobile_notification.confirm_message', total_count: @mobile_notification_batch.valid_count).html_safe
    = render 'shared/modals/confirm_import_modal', f: f, confirm_title: confirm_title, confirm_body: confirm_body
