.container-fluid.px-4
  = content_for :header_title_right_col do
    = render "shared/buttons/back_button", url: mobile_notifications_path
    = render "shared/buttons/add_new_button", url: new_mobile_notification_importer_path, name: t('sidebar.mobile_notifications')

  = render 'shared/header_title', title: t('shared.importing_history', name: t('sidebar.mobile_notifications'))

  = render "shared/batches/batch_list"
