.table-responsive
  %table.table.table-hover.pretty
    %thead
      %tr
        %th #
        %th= t('shared.code')
        %th= t("shared.name")
        %th= t("category.image")
        %th= t("category.audio")
        %th= t("category.description")
        %th= t("category.parent")

    %tbody
      - @batch.importing_items.each_with_index do |importing_item, index|
        - item = importing_item.itemable
        - if item.valid?
          = f.fields_for :importing_items, importing_item do |ff|
            = ff.hidden_field :itemable_id
            = ff.hidden_field :itemable_type
            = ff.fields_for :itemable, item do |fff|
              = fff.hidden_field :id
              = fff.hidden_field :code
              = fff.hidden_field :name
              = fff.hidden_field :image_cache
              = fff.hidden_field :audio_cache
              = fff.hidden_field :description
              = fff.hidden_field :parent_id

        %tr
          %td= index + 1
          %td= item.code
          %td= item.name
          %td
            = image_tag(item.image_url, width: 50, class: 'rounded-circle') if item.image.present?

          %td
            - if item.audio.present?
              %audio{controls: true, style: 'height: 40px;'}
                %source{src: item.audio_url}

          %td
            %div.text-truncate{style: 'max-width: 200px'}= item.description
          %td= item.parent.try(:name)

          / Validation status
          %td= render "shared/validation_status", item: item
