!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= ENV['APP_NAME']
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

    %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css", :rel => "stylesheet"}

    = favicon_link_tag asset_path('favicon.png')

  %body
    = render "shared/flash_message"

    .sb-nav-fixed
      = render "shared/topbar"

      #layoutSidenav
        #layoutSidenav_nav
          = render "shared/sidebar"
        #layoutSidenav_content
          %main
            = yield
